<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>MT_45_毒液及其黑色飞弹 (6).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_一阶段音波 (9).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_二阶段劈 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_二阶段劈 (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_二阶段劈 (5).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_二阶段劈 (6).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_放波前摇 (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_放波前摇 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_放波前摇 (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_放紫波 (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_放紫波 (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_放紫波 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_放红波 (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_放红波 (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_毒液及其黑色飞弹 (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_毒液及其黑色飞弹 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_毒液及其黑色飞弹 (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_毒液及其黑色飞弹 (5).png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_二阶段劈 (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_毒液及其黑色飞弹 (7).png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_毒液及其黑色飞弹 (8).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1024},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_激光  (0.3).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,1024},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_激光  (0.4).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,1024},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_激光  (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,1024},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_激光  (10).png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,1024},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_激光  (11).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_激光  (12).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_转换阶段 (10).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_转换阶段 (11).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_转换阶段 (12).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,1024},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_转换阶段 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1280},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_转换阶段 (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,1280},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_转换阶段 (5).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,1280},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_转换阶段 (6).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,1280},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_转换阶段 (7).png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,1280},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_转换阶段 (8).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,1280},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_转换阶段 (9).png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_放红波 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_放红波 (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_激光  (14).png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,1024},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_激光  (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,1024},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_激光  (6).png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,1024},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_激光  (13).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_激光  (15).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_激光  (17).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_激光  (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_激光  (5).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_激光  (7).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_激光  (9).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_激光  (16).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_激光  (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>MT_45_激光  (8).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>45 马桶博士-1.png</string>
      <key>size</key>
      <string>{1792,1536}</string>
      <key>textureFileName</key>
      <string>45 马桶博士-1</string>
    </dict>
  </dict>
</plist>
