<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>发射火箭 (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>发射火箭 (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>发射火箭 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>开启瞄准 (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>开启瞄准 (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>开启瞄准 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>开启瞄准 (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>开启瞄准 (5).png</key>
      <dict>
        <key>frame</key>
        <string>{{1792,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>开启瞄准 (6).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>开启瞄准 (7).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>攻击 (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>攻击 (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>攻击 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>攻击 (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>攻击 (5).png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>攻击 (6).png</key>
      <dict>
        <key>frame</key>
        <string>{{1792,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>攻击 (7).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>攻击 (8).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>火箭弹 (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>火箭弹 (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>火箭弹 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>火箭弹 (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>火箭弹 (5).png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>火箭弹 (6).png</key>
      <dict>
        <key>frame</key>
        <string>{{1792,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>红炮 (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>红炮 (10).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>红炮 (11).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>红炮 (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>红炮 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>红炮 (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>红炮 (5).png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>红炮 (6).png</key>
      <dict>
        <key>frame</key>
        <string>{{1792,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>红炮 (7).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1024},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>红炮 (8).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1280},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>红炮 (9).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1536},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>红炮弹 (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1792},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>红炮弹 (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2048},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>红炮弹 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2304},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>红炮弹 (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2560},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>红炮弹 (5).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2816},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>绿炮 (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,1024},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>绿炮 (12).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,1024},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>绿炮 (13).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,1024},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>绿炮 (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,1024},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>绿炮 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,1024},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>绿炮 (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,1024},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>绿炮 (5).png</key>
      <dict>
        <key>frame</key>
        <string>{{1792,1024},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>绿炮 (6).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,1280},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>绿炮 (7).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,1536},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>绿炮 (8).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,1792},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>绿炮弹 (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,2048},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>绿炮弹 (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,2304},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>绿炮弹 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,2560},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (10).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,2816},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (11).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,1280},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (12).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,1280},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (13).png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,1280},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (14).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,1280},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (15).png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,1280},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (16).png</key>
      <dict>
        <key>frame</key>
        <string>{{1792,1280},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (17).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,1536},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (18).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,1792},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (19).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,2048},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (20).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,2304},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,2560},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,2816},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (5).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,1536},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (6).png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,1536},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (7).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,1536},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (9).png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,1536},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>黄炮 (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{1792,1536},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>黄炮 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,1792},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>黄炮 (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,2048},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>黄炮弹 (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,2304},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>黄炮弹 (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,2560},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>黄炮弹 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,2816},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>绿炮 (15).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (8).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>黄炮 (5).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>绿炮 (14).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>绿炮 (9).png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (21).png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>绿炮 (10).png</key>
      <dict>
        <key>frame</key>
        <string>{{1792,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (22).png</key>
      <dict>
        <key>frame</key>
        <string>{{1792,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>绿炮 (11).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1024},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>黄炮 (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1024},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>texture.png</string>
      <key>size</key>
      <string>{2048,3072}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
