<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>冲刺 (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>冲刺 (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>冲刺 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>冲刺 (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>攻击 (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>攻击 (10).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>攻击 (11).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>攻击 (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>攻击 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>攻击 (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>攻击 (5).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>攻击 (6).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>攻击 (7).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>攻击 (8).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>攻击 (9).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>核心 (10).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>核心 (11).png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>核心 (8).png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>核心 (9).png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{1792,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (5).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (6).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (7).png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (8).png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>走路 (9).png</key>
      <dict>
        <key>frame</key>
        <string>{{1792,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>核心 (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>核心 (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{256,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>核心 (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>核心 (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,256},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>核心 (5).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>核心 (6).png</key>
      <dict>
        <key>frame</key>
        <string>{{512,768},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>核心 (7).png</key>
      <dict>
        <key>frame</key>
        <string>{{768,0},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>texture.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
